:root {
  --border: #d6d9de;
  --light-font-color: #787f87;
}

html {
    background-color: rgb(247, 247, 244);
  }

.nav {
  color: #343A3F;
  text-decoration: none;
  padding: 0.75rem 1.25rem;
}
.nav:hover{
  background-color:  rgb(194, 194, 186);
  border-radius: 10px;
}

.itemContainer:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.brand{
  color: #362d72;
}

.divider {
  border-bottom: 1px solid var(--border);
  padding: 8px;
}

